:root {
    --primary-color: #000000;
    --secondary-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Monserrat", sans-serif;
}

.logo h1 {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar, .list, .item-menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    color: var(--primary-color);
}

.navbar {
    padding: 20px 40px
}

.item-menu ul {
    gap: 40px;
    padding: 0;
}

.item {
    font-size: 1.5rem;
    list-style: none;
}
.item a {
    color: var(--primary-color); /* Use your defined primary color */
    text-decoration: none; /* Remove underline */
    padding: 10px; /* Add padding to the links */
    transition: background-color 0.3s; /* Smooth transition for hover */
}

.btn {
    display: flex;
    gap: 24px;
    
}

.signin {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.signup {
    border: 1px solid black;
    border-radius: 24px;
    padding:12px 24px;
    cursor: pointer;
    color:blue;
}

.hero {
    padding: 20px 40px;
    width: 100%;
}

.content-hero {
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

.hero-title {
    font-size: 4rem;
    text-align: center;
}

.hero-desc {
    letter-spacing: .5px;
    line-height: 1.2;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 24px;
}

.image {
    height: 400px;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.image img {
    margin-top: 54px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.article{
    padding: 20px 40px;
    width: 100%;
}

.content-article{
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    
}

.article-header{
    padding-top: 10px;
    text-align: left;
    font-size: 2rem;
    margin-bottom: 10px;
    
}

.article-desc{
    letter-spacing: .5px;
    line-height: 1.2;
    margin-bottom: 10px;
}
.content-head{
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

.content-header{
    padding-top: 10px;
    text-align: left;
    font-size: 1.5rem;
    margin-bottom: 10px;
    
}
.content-desc{
    letter-spacing: .5px;
    line-height: 1.2;
    margin-bottom: 10px;
}

 .button{
    position: absolute; /* Position the button absolutely */
    right: 15%;        /* Adjust this value to move it horizontally */
    
}

.btn-view {
    padding: 10px 20px;
    background-color: var(--secondary-color);
    color: black;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 24px;
    transition: background-color 0.3s ease;
    box-shadow: #615f5fee;
}

.btn-view:hover{
    background-color: darkgray;
}

.related-images{
    padding: 20px 20px;
    width: 100%;
}
.related-image, .Activities{
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

.Image-art{
    /*margin-top: auto;*/
    position: relative; /* Ensure the container is the reference point for absolute positioning */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto; /* Centering if needed */
    /* Remove margin-top: auto; */
}

.image-act{
    display: flex; 
    justify-content: center;
    gap: 24px;   
}

.image-act img{
    height: 300px;
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: transform 0.3s, box-shadow 0.3s; /* Basic transition */
    transition-delay: 0.2s; /* Delay for the hover effect */
    border-radius: 24px;
}
.image-act img:hover {
    transform: scale(1.20); /* Slightly enlarge the image on hover */
    box-shadow: 0 8px 16px rgba(37, 36, 36, 0.712); /* Darker shadow on hover */
}